TELEGRAM_TOKEN=your_bot_token
MONGO_URI=mongodb+srv://user:pass@cluster.mongodb.net/worldCupGachaDB
PORT=3000
WEB_APP_URL=https://your-app.railway.app

DEPOSIT_WALLET=UQ...your_deposit_wallet
ADMIN_TELEGRAM_ID=123456789
TONAPI_KEY=your_tonapi_key

TELEGRAM_CHANNEL=https://t.me/FootballGacha
X_ACCOUNT=https://x.com/FootballGacha
